body{
    font-family: 'Arial', Times, serif;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    display: block;
    flex-direction: column;
    min-height: 100vh;
    
}   
header{

    background-color:#727272;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    height: 50px;
    font-size: xx-small;
    
    margin: 0;
}
img{
    width: 100%;
}

footer {
    background-color:#727272;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    font-size: 10px;
   
    /*teste */
}

main {
    z-index: -1;
    text-align: center;
    flex: 1;
    padding: 20px;
    background-color: rgb(196, 195, 195);
    margin: 0;
}

.button_voltar {
    border:0;
    background-color: #727272;
    background-size: contain; 
    width: 40px;
    height: 40px;
    background-image: url('/imagens/botao-voltar.png');
    cursor: pointer;
    transition: background-color 0.5s;

}

.button_user{
    border:0;
    background-color: #727272;
    background-size: contain; 
    width: 40px;
    height: 40px;
    background-image: url('/imagens/user.png');
    cursor: pointer;
    transition: background-color 0.5s;
}
.txt_horario{
    text-align: center;
    margin-top: 10px;
}



.opt1{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding: 10px;
    font-size: 16px; /* Tamanho da fonte */
    font-family: Arial, sans-serif;
    border: 3px solid #000000;
    border-color: #000000;
    margin-left: -2px;
    margin-top: 50px;
    border-radius: 20px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    background-color: #ffffff;
    z-index: 2;
    transition: background-color 0.5s;
    cursor: pointer;
}



ul{
    display: flex;
    flex-wrap: wrap;
padding: 0;
}
ul li{
    width: 300px;
    background-color: #999898;
    list-style-type: none;
    margin: 8px;
    padding: 8px;
    border :solid#000000;
    border-radius: 20px;
    
}
 @media only screen and (max-width: 600px) {
    html{
        font-size: 1.2em;
    }
   
    ul{
        display: flex;
        overflow-y: auto;
        max-height: calc(100% - 16px);
        
    }
    ul li{
        width: calc(100% - 16px);
        
    }
    footer {
        background-color: rgb(196, 195, 195);
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 10px;
        font-size: 10px;
       bottom: auto;
       position: relative;
        
    }
     
    
 }
  @media only screen and (min-width: 600px) {
     
    html{
        font-size: 16px;
    }
    ul{
        display: flex;
        overflow-y: auto;
        max-height: calc(100% - 16px);
    }
    ul li{
        width: 300px;
        height: 200px;
    }
  }
 @media only screen and (min-width: 992px) {
    html{
        font-size: 16px;
    }
    ul{
    display: flex;
    
   }
}
